@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    background-color:rgb(249, 228, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}
.a1{
    width: 700px;
    height: 700px;
    background-color: white;
    display: flex;
}
.b1{
    padding: 45px;
    padding-right: 0px;
    display: flex;
    align-items: end;
    gap: 45px;
    font-family: prompt; 

}
.panel{
     color: rgb(162, 162, 162);
}
.franc{
     color: rgb(162, 162, 162);
}
.b2{
    padding: 100px;
}
.span{
    font-size: +5;
}
.title{
    font-size: 30px;
    margin-bottom: 25px;
    letter-spacing: 4px;
    
}
.box{
    width: 50px;
    height: 2px;
    background-color: black;
}
.img1{
   width: 160px;
   height: 90px;
   margin-left: 100px;
   border-radius: 2px;
}

.img2{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 242, 244);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    left: 155px;
    top:25px;
}
.footer{
    position: relative;
    display: flex;
    gap:40px

}
.text1{
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.img5{
    display: flex;
    width: 394px;
    height:250 ;
}
.panel_image{
    position: relative;
}
.back_button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:640px;
    left:30px;
}
.view_phote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}
.MAIN{
    display: flex;
    box-shadow: 8px 7px 20px 6px rgba(251, 91, 67, 0.2);
}